.listening-to {
  ul {
    list-style-type: none;
    padding: 0 1.6rem 0 0;
    li {
      @include box-sizing;
      margin-bottom: 1.5rem;
      a {
        color: $color-lightest;
        &:hover {
          img {
            border: 3px solid $color-alt;
          }
        }
        img {
          @include box-sizing;
          display: block;
          margin: 0 auto;
          width: 100%;
          height: auto;
          padding: 2rem;
          background: $color-highlight;
          border: 3px solid $color-accent;
        }
      }
    }
  }
}